<div class="row">

<% if @current_user%>
<h1><%= @place["name"] %></h1>

<p>
<h2>My Posts</h2>
</p>

<% for post in @posts %>
<div class="col-md-4 col-sm-6">
  <h3><%= post["title"] %></h3>
  <h4><%= post["posted_on"] %></h4>
  <p><%= post["description"] %></p>
</div>
<% end %>
<% end %>



<p>
  <a href="/posts/new?place_id=<%= @user["id"] %>">New Post</a>
</p>

<p>
  <a class="btn btn-primary" href="/places" role="button">Back to All Places</a>
</p>